@import "/src/config-block/config-block.css";
body {
    margin: 0;
    padding: 0;
}

.demo-block {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}
.demo-container{
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.form-options1{
    display: flex;
    flex-direction: column;
}

.slider1, .slider2, .slider3 {
    padding: 0;
    margin: 20px;
    height: 300px;
    width: 300px;
    display: inline-block;
}
