.form-options {
    padding: 10px;
    margin: 0;
    // min-width: 260px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 
    color: rgb(0, 0, 0, 0.5);
    background-color:rgb(0, 0, 0, 0.05);
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.form-options label{
    padding: 0;
    margin: 2px 0;
    display: inline-block;
    vertical-align: middle;
}

.form-options label span{
    display: inline-block;
    vertical-align: middle;
}

.form-options label label{
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.form-options label label span{
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.form-options input[type = 'number'],
.form-options input[type = 'text'] {
    padding: 2px;
    margin: 0;
    height: 18px;
    margin-left: 10px;
    border: 0.5px solid rgb(0, 0, 0, 0.3);
    color: rgb(0, 0, 0, 0.5);
    width: 50px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 
    outline: none;
    background-color: rgb(0, 0, 0, 0.005);
}

.form-options input[type = 'text']{
    width: 150px;
}

.form-options input[type = 'checkbox'],
.form-options input[type = 'radio'] {
	display:none;
} 

.form-options label span:after {
	content:'';
    display: inline-block;
    position: relative;
	height:18px;
	width:18px;
	border: 0.5px solid rgb(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 2px;
    vertical-align: middle;
    left: 6px;
}
input:checked + span:after {
    background:rgba(0, 0, 0, 0) url(/src/config-block/check1.png) no-repeat center; 
}