form.form-options(name= 'options1')
    label Max Value 
        input.form-options__maxValue(type = 'number'  name = 'maxValue' value = 250) 
    label Min Value 
        input.form-options__minValue(type = 'number'  name = 'minValue' value = -250 ) 
    label Starting value 
        input.form-options__startValue__1(type = 'number'  name = 'startValue1' value = -200)
        input.form-options__startValue__2(type = 'number'   name = 'startValue2' value = 250)
    label 
        input.form-options__vertical(type = 'checkbox'  name = 'vertical' unchecked) 
        span Vertical
    label Step
        input.form-options__step(type = 'number'   name = 'step' value = 40)
    label 
        input.form-options__moveBySteps(type = 'checkbox' name = 'moveBySteps' checked class = 'checkbox')
        span Move by steps 
    label 
        input.form-options__range(type = 'checkbox'  name = 'range' checked) 
        span Range
    label 
        input.form-options__rangeInput(type = 'checkbox'  name = 'rangeInput' checked) 
        span Range Input
    label
        input.form-options__valueInputs(type = 'checkbox'  name = 'valueInputs' checked) 
        span Value Inputs
    label  Handlers Amount 
        label
            input.form-options__handlers(type = 'radio'  name = 'handlers')
            span 1
        label
            input.form-options__handlers(type = 'radio'  name = 'handlers' checked) 
            span 2
    label 
        input.form-options__scale(type = 'checkbox'  name = 'scale' checked) 
        span Scale
    label 
        input.form-options__scale(type = 'checkbox'  name = 'scaleLegend' checked) 
        span Scale Legend
    label 
        input.form-options__icon(type = 'checkbox'  name = 'icon'  checked)
        span Icons 