form.form-options(name= 'options1')
    label Max Value 
        input.form-options__maxValue(type = 'number'  name = 'maxValue' value = 250) 
    label Min Value 
        input.form-options__minValue(type = 'number'  name = 'minValue' value = -250 ) 
    label Starting value 
        input.form-options__startValue__1(type = 'number'  name = 'startValue1' value = -200)
        input.form-options__startValue__2(type = 'number'   name = 'startValue2' value = 250)
    label Vertical
        input.form-options__vertical(type = 'checkbox'  name = 'vertical' unchecked) 
    label Step
        input.form-options__step(type = 'number'   name = 'step' value = 40)
    label Move by steps
        input.form-options__moveBySteps(type = 'checkbox' name = 'moveBySteps' checked) 
    label Range
        input.form-options__range(type = 'checkbox'  name = 'range' checked) 
    label Range Input
        input.form-options__rangeInput(type = 'checkbox'  name = 'rangeInput' checked) 
    label Value Inputs
        input.form-options__valueInputs(type = 'checkbox'  name = 'valueInputs' checked) 
    label  Handlers Amount 
        label 1
            input.form-options__handlers(type = 'radio'  name = 'handlers')
        label 2
            input.form-options__handlers(type = 'radio'  name = 'handlers' checked) 
    label Scale
        input.form-options__scale(type = 'checkbox'  name = 'scale' checked) 
    label ScaleLegend
        input.form-options__scale(type = 'checkbox'  name = 'scaleLegend' checked) 
    label Icons
        input.form-options__icon(type = 'checkbox'  name = 'icon'  checked) 